@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <h1 class="text-center">Welkom bij BankMemberManager</h1>
    <p class="text-center lead">Beheer eenvoudig financiële transacties en leden met deze ASP.NET Core MVC-applicatie.</p>
    <div class="row mt-5">
        <div class="col-md-6">
            <h2>Stappen om te starten</h2>
            <ol>
                <li>Clone dit repository naar je lokale machine.</li>
                <li>Voer `dotnet restore` uit om de pakketten te herstellen.</li>
                <li>Configureer je databaseverbinding in het `appsettings.json`-bestand.</li>
                <li>Voer `dotnet ef database update` uit om de database te migreren.</li>
                <li>Start de applicatie met het commando `dotnet run`.</li>
            </ol>
        </div>
        <div class="col-md-6">
            <h2>Demo van de applicatie</h2>
            <p>Hieronder zie je voorbeeldafbeeldingen van de applicatie:</p>
            <div class="card mb-3 card-img-top-transitioner">
                <img src="~/Images/DataScherm-Bankgegevens.png" alt="voorbeeld scherm van alle bank gegevens" class="card-img-top" />
                <div class="card-body">
                    <p class="card-text">Bekijk transactiegegevens in een overzichtelijke tabel.</p>
                </div>
            </div>
            <div class="card mb-3 card-img-top-transitioner">
                <img src="~/Images/Form-Transaction-Inputs.png" class="card-img-top" alt="Nieuwe Transactie" />
                <div class="card-body">
                    <p class="card-text">Voeg nieuwe transactiegegevens toe met dit formulier.</p>
                </div>
            </div>
            <div class="card mb-3 card-img-top-transitioner">
                <img src="~/Images/VerwijderScherm-Bankgegevens.png" class="card-img-top" alt="Details en Verwijderen" />
                <div class="card-body">
                    <p class="card-text">Bekijk details van een transactie en verwijder deze indien nodig.</p>
                </div>
            </div>
        </div>
    </div>
</div>
