@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <h1 class="text-center">Welkom bij BankMemberManager</h1>
    <p class="text-center lead">Beheer eenvoudig financiële transacties en leden met deze ASP.NET Core MVC-applicatie.</p>
    <div class="row mt-5">
        <div class="col-md-12">
            <h2>Stappen om te starten</h2>
            <ol>
                <li>Clone dit repository naar je lokale machine.</li>
                <li>Voer <span class="highlight">`dotnet restore`</span> uit om de pakketten te herstellen.</li>
                <li>Configureer je databaseverbinding in het <span class="highlight">`appsettings.json`</span>-bestand.</li>
                <li>Voer <span class="highlight">`dotnet ef database update`</span> uit om de database te migreren.</li>
                <li>Start de applicatie met het commando <span class="highlight">`dotnet run`</span>.</li>
            </ol>
        </div>
        
    </div>
</div>
