@{
    ViewData["Title"] = "Privacybeleid";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>@ViewData["Title"]</h1>
            <p>Welkom bij de privacybeleidspagina van de fictieve BankMemberManager-applicatie.</p>
            <p>Let op: De BankMemberManager-applicatie is een fictieve app die is ontwikkeld voor demonstratiedoeleinden. Deze app is niet bedoeld voor echte financiële transacties en beheer van bankleden. Houd er rekening mee dat alle gegevens en transacties binnen de app volledig verzonnen zijn.</p>
            <p>Wij hechten veel waarde aan de privacy van onze gebruikers, zelfs in het kader van een fictieve app. Hieronder vindt u informatie over hoe we omgaan met persoonlijke gegevens binnen onze demonstratieapplicatie:</p>
            <ul>
                <li><strong>Verzamelde gegevens:</strong> Hoewel de app transactiegegevens verzamelt, zijn deze gegevens fictief en worden ze alleen gebruikt voor de demonstratiedoeleinden van de app.</li>
                <li><strong>Gegevensgebruik:</strong> De verzamelde gegevens binnen de app worden uitsluitend gebruikt om de functionaliteit van de app te tonen. Er worden geen echte financiële transacties uitgevoerd.</li>
                <li><strong>Gegevensopslag:</strong> Er worden geen echte gegevens opgeslagen in de app of elders. Alle gegevens binnen de app zijn tijdelijk en lokaal van aard.</li>
                <li><strong>Gegevensbeheer:</strong> De app biedt fictieve functies voor gegevensbeheer die geen invloed hebben op echte gegevens of systemen.</li>
            </ul>
            
            <p>We benadrukken nogmaals dat de BankMemberManager-applicatie fictief is en alleen is bedoeld voor demonstratiedoeleinden. Gebruik de app niet voor echte financiële transacties of gegevensbeheer.</p>
        </div>
    </div>
</div>
